html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px !important;
	padding: 0px;
}

.iViewPadding {
	padding-left: 4em;
	padding-right: 4em;
}

.buttonPadding {
	padding-bottom: 1em;
	padding-top: 1em;
}

.docPadding {
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
}

.configureSaveCancelButtonPanel {
	margin-top: 4em;
	float: right;
}

.mainWidget {
	width: 100%;
}

.topPanel {
	background: url('imgs/calpolybanner.gif') no-repeat #003300;
	text-align: right;
	font-size: 2.5em;
	padding-right: 1em;
	color: #207020;
	font-weight: bold;
	font-family: Verdana;
}

.usernameAndLogout {
	float: right;
	color: #000000;
	margin: .5em;
}

.scheduleName {
	font-size: 200%;
}

.appName {
	opacity: .3;
	filter: alpha(opacity=30);
	font-size: 200%;
}

.topBarLeftSide > div {
	padding-left: 10px;
	display: inline-block;
}

.quarterViewMenu {
	background-color: #D0D0D0;
}

.alternatingRowColor {
	background-color: #F7F7F7;
}

.selectQuarterView {
	padding: 1em;
}

.quarterViewMenu>table {
	margin: 1em;
}

.indented {
	margin-left: 1em;
}

.inAppLink {
	text-decoration: underline;
	color: #008000;
	cursor: pointer;
}

.inAppLink:hover {
	color: #00C000;
}

.docLink {
	font-size: 14pt;
	text-decoration: underline;
	color: #008000;
	cursor: pointer;
}

.docLink:hover {
	color: #00C000;
}

.docTable {
   border-style: solid;	
	border-width: 2px;
   border-color: #F0F0F0;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

/** Editable table */
.tableColumnCheckBox {
	margin: 1.5em;
}

.tableColumnWidthString {
	width: 6em;
	max-width: 6em;
}

.tableColumnWidthInt {
	width: 1.5em;
	max-width: 1.5em;
}

.editableTableCell {
	border: 1px solid #BBBBBB;
	padding: 2px;
	width: 13em;
	max-width: 13em;
	height: 1.5em;
	max-height: 1.5em;
}

.editableTableCellRemove {
	border: 1px solid #BBBBBB;
	padding: 2px;
	height: 1.5em;
	max-height: 1.5em;
}

.editTableHeading {
	font-weight: bold;
}

.editTableModified {
	background-color: yellow;
}

.editTableButton {
	width: 6em;
	max-width: 6em;
}

/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/** Style for Top Panel**/
#northPanelID {
	background-color: #004000;
	text-color: #D5C464;
	padding-left: 20px;
	/*opacity:0.4;*/
	height: 100%;
}

#titleText {
	color: #D5C464;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 40px;
	height: 50px;
}

.titlePanelStyle {
	height: 100%;
	width: 100%;
}

.logoPlaceHolderStyle {
	width: 100px;
}

.titleImgStyle {
	
}

#leftPanelID {
	background-color: #FFF7C9;
}
/* Stack Panel styles */
.myStackPanel {
	width: 100%;
	background-color: #D5C464;
}

.myStackPanel .gwt-StackPanelContent {
	color: #004000;
	opacity: 1;
	background-color: white;
	padding-left: 10px;
	font-size: 16px;
}

/*  gwt-StackPanelItem gwt-StackPanelItem-first gwt-StackPanelItem-selected  */
.myStackPanel .gwt-StackPanelItem {
	background-image: url('imgs/goldbar.gif');
	background-repeat: repeat-h;
	height: 20px;
	font-size: 20px;
	color: #004000;
	padding-left: 5px;
}

.bodyPanel {
	overflow: auto;
}

.selectedCell {
	background-color: #C0C0C0;
}

.anchorCell div {
	border: 2px solid black;
}

.changed {
	background-color: #FFFF00;
}

.rightness {
	text-align: right;
}

.alignRight {
	position:absolute;
	right:0px;
}

.centerness {
	margin-left: auto;
	margin-right: auto;
}

.otherCenterness {
	margin-left:auto;
	margin-right:auto;
	border-width: 1px;
	border-style: solid;
}

.bigBold {
	font-size: x-large;
	text-align: center;
	font-weight: 700;
}

.preferred {
	background-color: #00FF00;
}

.acceptable {
	background-color: #FFFF00;
}

.notPreferred {
	background-color: #FFA500;
}

.notQualified {
	background-color: #FF0000;
}

.timePreferencesTable .desireCell:hover {
	background-color: #E0E0E0;
}

.timePrefs {
	font-weight: 700;
	text-align: center;
}

.timeColumns {
	background-color: #000000;
	font-weight: 700;
	text-align: center;
}

.loadingLabel {
	font-size: 2em;
	font-weight: bold;
	color: #A0A0A0;
	text-align: center;
}

.scheduleTable {
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.scheduleTable td {
	border-width: 1px;
	border-style: solid;
	width: 130px;
	height: 100%;
}

.highlightedBorder {
	border-width: 2px;
	border-style: solid;
	border-color: yellow;
}

.courseListBox {
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	text-align: center;
	background: #FFFFCC
}

.scheduleItemNoConflict {
	background: #CCFF99;
	height: 100%;
}

.scheduleItemConflicted {
	background: #CC0000;
}

.scheduleItemHoverText {
	background: #F0F0F0;
	font-size: 0.75em;
	box-shadow: 3px 3px 3px #606060;
}
/*==============================|  Global Top Bar |==============================*/
.topBar {
	width: 100%;
	height: 10px;
	background: #FFFFFF;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
}

#topBar #loginStatus {
	float: right;
	height: 10px;
}

#goldBar {
	clear: both;
	text-align: right;
	background: url('imgs/goldbar.gif') left top repeat-x #D1BD4A;
	border-bottom: #9E8E31 solid 1px;
	height: 21px;
	width: 100%;
	font-size: 70%;
	color: #000;
	padding: 0px 0;
	background: url(imgs/goldbar.gif) top right repeat-x #d1bd4a;
	text-align: left;
	border-left: #A09727 solid 1px;
}

.goldMenuBar {
	display: inline;
	color: #000;
	margin: 0 0 0 0px;
	background: url(imgs/goldbar.gif) top right repeat-x #d1bd4a;
	text-align: left;
	border-left: #A09727 solid 1px;
	width: 300px;
}

.goldMenuBar a {
	
}

#goldBar ul {
	font-size: 110%;
	color: #000;
	margin: 0 0 0 0px;
	padding: 3px 0;
	background: url(imgs/goldbar.gif) top right repeat-x #d1bd4a;
	text-align: left;
	border-left: #A09727 solid 1px;
}

#goldBar ul li {
	display: inline;
}

#goldBar ul li a {
	color: #000;
	text-decoration: none;
	padding: 3px 7px 3px 10px;
	border-right: #A09727 solid 1px;
	margin-right: -3px;
}

#goldBar ul li a:link,#goldBar ul li a:visited {
	text-decoration: none;
}

#goldBar ul li a:focus,#goldBar ul li a:hover,#goldBar ul li a:active {
	background: #FFE6AF;
	text-decoration: none;
}

#topBar #SchedName {
	width: 140px;
	height: 100%;
	display: block;
}

#goldBar ul {
	font-size: 110%;
	color: #000;
	margin: 0 0 0 0px;
	padding: 3px 0;
	background: url(imgs/goldbar.gif) top right repeat-x #d1bd4a;
	text-align: left;
	border-left: #A09727 solid 1px;
}

#goldBar ul li {
	display: inline;
}

#goldBar ul li gwt-HTML topBarLink {
	color: #000;
	text-decoration: none;
	padding: 3px 7px 3px 10px;
	border-right: #A09727 solid 1px;
	margin-right: -3px;
}

#goldBar ul li gwt-HTML topBarLink:link,#goldBar ul li gwt-HTML topBarLink:visited
	{
	text-decoration: none;
}

#goldBar ul li gwt-HTML topBarLink:focus,#goldBar ul li gwt-HTML topBarLink:hover,#goldBar ul li gwt-HTML topBarLink:active
	{
	background: #FFE6AF;
	text-decoration: none;
}

#topBar #SchedName {
	width: 140px;
	height: 100%;
	display: block;
}

.topBarMenu {
	background: url('imgs/goldbar.gif') left top repeat-x #D1BD4A;
	border-bottom: #9E8E31 solid 1px;
	height: 2.4em;
	line-height: 2.4em;
}

.topBarScheduleSelect {
	margin: 0 .4em 0 .3em;
}

.topBarLink {
	height: 100%;
	font-size: 110%;
	padding: 0 4px !important;
	border-right: #A09727 solid 1px;
	display: inline-block;
}

.topBarLink.first {
	border-left: #A09727 solid 1px;
}

.topBarLink:hover {
	background: url(imgs/black10alpha.png) repeat;
	cursor: pointer;
}

.topBarLink.currentView {
	background: url(imgs/CurrentView.png) repeat-x bottom;
	border-bottom: 1px solid white;
}

.ScheduleAvailableCoursesList {
	margin: 10px;
	height: 100%;
}

.hiddenCoursesList {
	display: none;
}

.collapsingButton {
	position: absolute;
	top: 300;
	left: 200;
	background: blue;
	width: 20px;
	height: 100px;
}

.collapsingButtonContainingTD { /*position: relative;*/ /*width: 20px;*/
	
}

.floatingScheduleButtonBar {
	position: fixed; /* Or fixed - depends on what you want */
	right: 0;
	/* The part that puts the Panel in bottom right of the page/client area */
	bottom: 0;
	/*background: #003300;*/
	background: url("imgs/bottom_bar_bg.gif") no-repeat scroll 0 0 #003300;
	padding: 5px 10px 5px 10px;
	width: 100%;
}

.floatingScheduleButtonBarItemRight {
	float: right;
	margin: 0px 5px 0px 5px;
}

.floatingScheduleButtonBarItemLeft {
	float: left;
	margin: 0px 5px 0px 15px;
}

.editScheduleItemDialog {
	padding: 10px;
}

.buttonStyle {
	
}

.exportChoice {
	
}

.exportChoice:focus {
	background-color: #D3D3D3;
}

.menubarcontainer {
	position: relative;
}

.menubar {
	position: absolute;
}

.tabBar {
	left: 143px !important;
}

.menumenu {
	z-index: 111000000 !important;
}

.tabSetContainer {
	border-bottom-width: 0 !important;
}
