<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>scheduler.view.web.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/scheduler/greet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CSVDownload</servlet-name>
		<servlet-class>scheduler.view.web.server.CSVDownload</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CSVDownload</servlet-name>
		<url-pattern>/scheduler/CSVDownload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadService</servlet-name>
		<servlet-class>scheduler.view.web.server.UploadService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadService</servlet-name>
		<url-pattern>/scheduler/UploadService</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Scheduler.html</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
</web-app>
