h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}


/** Editable table */
.editableTableCell {
  border: 1px solid #BBBBBB;
  padding: 2px;
  width: 13em;
  max-width: 13em;
  height: 1.5em;
  max-height: 1.5em;
}

.editableTableCellRemove {
  border: 1px solid #BBBBBB;
  padding: 2px;
  height: 1.5em;
  max-height: 1.5em;
}

.editTableHeading {
	font-weight: bold;
}

.editTableModified {
	background-color: yellow;
}

.editTableButton {
	width: 6em;
	max-width: 6em;
}





/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/** Style for Top Panel**/
#northPanelID{
	background-color:#004000;
	text-color: #D5C464 ;
	padding-left: 20px;
	/*opacity:0.4;*/
	height:100%;
}

#titleText{
	color:#D5C464 ;
	font-family: arial,sans-serif;
	font-weight:bold;
	font-size:40px;
	height:50px;
}

.titlePanelStyle{
	height:100%;
	width:100%;
}

.logoPlaceHolderStyle{
	width:100px;
}

.titleImgStyle{
	

	}
	
#leftPanelID{
	background-color:#FFF7C9 ;
}	
/* Stack Panel styles */
.myStackPanel{
	width:100%; 
		background-color: #D5C464 ;

}

.myStackPanel .gwt-StackPanelContent {
	color:#004000 ;
	opacity:1 ;
	background-color:white;

	padding-left:10px;
	font-size:16px;
}

/*  gwt-StackPanelItem gwt-StackPanelItem-first gwt-StackPanelItem-selected  */
.myStackPanel .gwt-StackPanelItem
{
	background-image:url('imgs/goldbar.gif');
    background-repeat:repeat-h;
	height: 20px;
	font-size:20px;
	color:  #004000 ;
	padding-left:5px;
}

.bodyPanel {
	overflow: auto;
}