h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}


/** Editable table */
.editableTableCell {
  border: 1px solid #BBBBBB;
  padding: 2px;
  width: 13em;
  max-width: 13em;
  height: 1.5em;
  max-height: 1.5em;
}

.editableTableCellRemove {
  border: 1px solid #BBBBBB;
  padding: 2px;
  height: 1.5em;
  max-height: 1.5em;
}

.editTableHeading {
	font-weight: bold;
}

.editTableModified {
	background-color: yellow;
}

.editTableButton {
	width: 6em;
	max-width: 6em;
}