.osmtable {
	border-spacing: collapse;
}

.osmtable .stringcell.writing input {
	padding: 0px;
	width: 100%;
}

.osmtable .stringcell.reading div {
	padding: 1px;
	white-space: nowrap;
}

.osmtable .selectcell.reading div {
	padding-right: 2.5em;
}

.osmtable tr:nth-child(odd) {
	background-color: #F8FBFE;
}

.osmtable tr + tr:hover { background-color: #EEEEEE; }

.osmtable td {
	overflow: hidden;
}

.headers {
	border-bottom: 2px solid #6F7277;
}

.headers.floating {
	position: fixed;
	top: 0;
	background-color: white;
	opacity: 0.9;
}

.headers .resizeable {
	position: relative;
	display: block;
	/*border-right: 2px dotted #6F7277;*/
}

.headers .resizeable .resizer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: -5px;
	width: 10px;
	background: url('imgs/resizer.gif') repeat-y;
	display: block;
	cursor: col-resize;
	z-index: 1;
}

.headers .resizeable .headerContents {
	font-weight: bold;
	color: #4B4A4A;
	text-align: left;
	text-shadow: 1px 1px 0 #DDDDFF;
	padding: 3px 0;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}

.osmtable .icon {
	width: 1.5em;
	height: 1.5em;
	background-size: 100% 100%;
}

.osmtable .icon.delete.enabled {
	background-image: url('imgs/delete-icon.png') 
}

.osmtable .icon.delete.disabled {
	background-image: url('imgs/delete-icon-disabled.png');
	opacity: .2;
	filter: alpha(opacity=20);
}

.osmtable .icon.edit {
	background-image: url('imgs/edit-icon.png');
}

.osmtable .icon.accept {
	background-image: url('imgs/accept-icon.png');
}

.osmtable .icon.enabled {
	cursor: pointer;
}
