<html>
<head>
<title>
Spring Week N Acceptance Test Report for the X Department
</title>
</head>
<body bgcolor=white>
<p align=center>
<font size=+2>
<strong>Spring Week N Acceptance Test Report for the X Department</strong>
</font>
</p>
<br>
<h1>
Browser Used for Testing:
</h1>
<br>
<br>
<a name="Create, Save, and Re-Open a New Schedule">
<h2>
1.  Create, Save, and Re-Open a New Schedule
</h2>
</a>
<p>

</p>

<br>
<a name="Enter Resource Data">
<h2>
2.  Enter Resource Data
</h2>
</a>
<p>

</p>

<br>
<a name="Generate a Schedule">
<h2>
3.  Generate a Schedule
</h2>
</a>
<p>

</p>

<br>
<a name="Edit the Schedule">
<h2>
4.  Edit the Schedule
</h2>
</a>
<p>

</p>

<br>
<a name="Save, Exit, Re-Open Schedule">
<h2>
5.  Save, Exit, Re-Open Schedule
</h2>
</a>
<p>

</p>

<br>
<a name="Quality Measures">
<h2>
6.  Quality Measures
</h2>
</a>
<p>

</p>

<br>
<a name="Other Issues">
<h2>
7.  Other Issues
</h2>
</a>
<p>

</p>
</body>
</html>
